<a class="image-link" href="<%- url_for(post.image) %>_h.jpg" title="<%= post.client %>: <%= post.title %>" data-client="<%= post.client %>" data-description="<%= post.description %>">
	<img src="<%- url_for(post.image) %>_n.jpg" itemprop="image">
	<figure><%= post.client %>: <%= post.title %></figure>
</a>