<a class="image-link" href="<%- url_for(post.image) %>" title="<%= post.client %>: <%= post.title %>" data-client="<%= post.client %>" data-description="<%= post.description %>">
	<img src="<%- url_for(post.thumb) %>" itemprop="image">
</a>