<a class="image-link" href="<%- url_for(post.image) %>_h.jpg" title="<%= post.title %>" data-client="<%= post.tags.data[0].name %>" data-description="<%= post.description %>" data-software="<%= post.software %>" data-type="<%= post.type %>">
	<img src="<%- url_for(post.image) %>_n.jpg" itemprop="image">
	<figure><%= post.type %> for <%= post.tags.data[0].name %> - <%= post.title %></figure>
</a>