<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">  
  <div class="article-inner">
    <div class="row">
      <div class="large-12 columns">
        <% if (post.link || post.title){ %>
          <header class="article-header">
            <%- partial('post/title', {class_name: 'article-title'}) %>
          </header>
        <% } %>
        <div class="article-entry" itemprop="articleBody">
          <% if (post.excerpt && index){ %>
            <%- post.excerpt %>
            <% if (theme.excerpt_link){ %>
              <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
              </p>
            <% } %>
          <% } else { %>
            <div class="row item">
              <div class="columns medium-6 small-12">
                <%- partial('post/info') %>
              </div>
              <% if (post.software && post.software.length) { %>
                <div class="columns medium-6 small-12 software">
                  <%- partial('post/software') %>
                </div>
              <% } %>
            </div>
            <div class="row item">
              <div class="columns medium-12 description">
                <%- partial('post/description') %>            
              </div>
            </div>
          </div>
        </div>
      </div>            
      <% if (post.image && post.image.length){ %>
        <%- partial('post/gallery') %>
      <% } %>
      <div class="row item">
        <div class="large-12 columns">
          <%- partial('post/more-items') %>
        </div>
      </div>          
      <% } %>
    </div>
  </div>
</article>
