<section class="archives-wrap">
  <h2 class="title"><%- page.tag %></h2>
  <div class="row">
    <div class="large-12 columns">
      <ul class="image-grid image-carousel small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
        <% page.posts.each(function(post, i){ %>
          <li><%- partial('archive-post', {post: post, even: i % 2 == 0}) %></li>
        <% }) %>

        <% if (page.next === 0) { %>
          <% if (page.tag === 'Avenue Code') { %>
          <li>
            <div class="category-image home-group-2">
              <a href="/tags/City-College-of-San-Francisco" title="CSF">
                <img src="https://farm6.staticflickr.com/5638/21439468121_64b8b25b20_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>CCSF</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'City College of San Francisco') { %>
          <li>
            <div class="category-image home-group-3">
              <a href="/tags/Epifania" title="Epifania">
                <img src="https://farm2.staticflickr.com/1653/25823961292_9ff9cecc31_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Epifania</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'Epifania') { %>
          <li>
            <div class="category-image home-group-4">
              <a href="/tags/Fundacao-Unimed" title="Fundação Unimed">
                <img src="https://farm1.staticflickr.com/592/21420096642_9c67629089_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Fundação Unimed</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'Fundação Unimed') { %>
          <li>
            <div class="category-image home-group-5">
              <a href="/tags/Personal" title="Personal">
                <img src="https://farm9.staticflickr.com/8580/28734250842_290e8306b0_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Personal</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'Personal') { %>
          <li>
            <div class="category-image home-group-6">
              <a href="/tags/Regina-Salomao" title="Regina Salomão">
                <img src="https://farm6.staticflickr.com/5809/21456729876_df5374b2c1_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Regina Salomão</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'Regina Salomão') { %>
          <li>
            <div class="category-image home-group-7">
              <a href="/tags/Taticas" title="Táticas">
                <img src="https://farm1.staticflickr.com/685/20860240614_aa85cdd54e_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Táticas</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'Táticas') { %>
          <li>
            <div class="category-image home-group-8">
              <a href="/tags/UC-Berkeley" title="UC Berkeley">
                <img src="https://farm6.staticflickr.com/5767/23153218833_7b44b9199a_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>UC Berkeley</h2>
              </div>
            </div>
          </li>

          <% } else if (page.tag === 'UC Berkeley') { %>
          <li>
            <div class="category-image home-group-1">
              <a href="/tags/Avenue-Code" title="Avenue Code">
                <img src="https://farm6.staticflickr.com/5745/21439467621_b0b995312a_h.jpg" itemprop="image">
              </a>
              <div class="image-filter-background">
                <h2>Avenue Code</h2>
              </div>
            </div>
          </li>
          <% } %>
        <% } %>

      </ul>
    </div>
  </div>
</section>
<% if (page.total > 1){ %>
  <div class="pagination-centered">
    <ul class="pagination" role="menubar" aria-label="Pagination">
      <% if (page.prev){ %>
        <li class="arrow"><a href="<%- url_for(page.prev_link) %>">&laquo; Previous</a></li>
      <% } else { %>
        <li class="arrow unavailable" aria-disabled="true"><a>&laquo; Previous</a></li>
      <% } %>

      <% for (var i=1; i <= page.total; i++) { %>
        <% if (page.current === i){ %>
          <li class="current" aria-disabled="true"><a><%= i %></a></li>
        <% } else { %>
          <%
            var pageURL = (i === 1)? '': 'page/' + i + '/';
            var prefix = page.path.split('page/')[0].replace('index.html', '');
          %>
          <li><a href="<%- url_for(prefix + pageURL) %>"><%= i %></a></li>
        <% } %>
      <% } %>

      <% if (page.next){ %>
        <li class="arrow"><a href="<%- url_for(page.next_link) %>">Next &raquo;</a></li>
      <% } else { %>
        <li class="arrow unavailable" aria-disabled="true"><a>Next &raquo;</a></li>
      <% } %>
    </ul>
  </div>
<% } %>