<% var field = post.field; %> 
<div class="image-grid-container <%- field.replace(' ', '-') %> item">
  <ul class="image-grid image-carousel article-gallery small-block-grid-2 medium-block-grid-3 large-block-grid-4 text-center" data-clearing>
    <% if (post.image instanceof Array === false) { post.image = post.image.split('\n') } %>
    <% post.image.forEach(function(photo, i){ %>
      <li>
        <a class="image-link" href="<%- url_for(photo) %>_h.jpg" title="<%= post.title %>" data-client="<%= post.tags.data[0].name %>" data-description="<%= post.description %>" data-software="<%= post.software %>" data-type="<%= post.type %>">
          <img src="<%- url_for(photo) %>_n.jpg" itemprop="image">          
        </a>   
      </li>
    <% }) %>
  </ul>
</div>